<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Attendance Management</title>
</head>
<body>
    <h1>Attendance Management</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Course Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for course in courses %}
            <tr>
                <td>{{ course.name }}</td>
                <td>
                    {% for lesson in lessons %}
                        {% if lesson.course_id == course.id %}
                        <a href="{{ url_for('teacher.manage_attendance', lesson_id=lesson.id) }}">Manage Attendance for {{ lesson.date }}</a><br>
                        {% endif %}
                    {% endfor %}
                </td>
            </tr>

            {% endfor %}
        </tbody>
    </table>
</body>
</html>
